// Improvements to the ember-paper input styles
body.ember-application {
  md-autocomplete,
  md-input-container {
    outline: none;
  }

  .md-autocomplete-suggestions {
    margin: 0 16px;
    min-width: 0 !important;
    width: $navigation-width - 32px;
  }

  .md-autocomplete-suggestions li {
    border-bottom: 2px solid $white;
    cursor: default;
    font-size: 12px;
    height: 41px;
    line-height: 41px;
    padding: 0 15px;
    width: 100%;
  }

  md-autocomplete,
  md-input-container {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    label {
      font-size: 14px;
      height: 14px;
      line-height: 14px;
      transform: translateZ(0) translate3d(0, 28px, 0);
      transition: font-size cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s,
                  transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
    }

    input {
      color: $base-font-color;
      font-size: 14px;
    }

    input[type="search"] {
      -webkit-appearance: textfield;
    }

    input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &.md-input-focused label:not(.md-no-float),
    &.md-input-has-value label:not(.md-no-float) {
      font-size: 12px;
      transform: translateZ(0) translate3d(0, 1px, 0);
    }

    &.md-input-focused label:not(.md-no-float) {
      color: color($primary-color, 600);
    }
  }

  .md-menu-showing label:not(.md-no-float) {
    font-size: 12px;
    transform: translateZ(0) translate3d(0, 1px, 0);
  }

  .md-ripple-container {
    display: none;
  }

  md-switch {
    cursor: default;
    margin: 0 0 16px;

    .md-container,
    .md-label {
      cursor: default;
      padding: 0;
    }
  }
}
