<div class="application">
  {{#navigation-sidebar settings=settings}}
    <fieldset>
      <legend>Hello world</legend>
    </fieldset>
  {{/navigation-sidebar}}

  <main>
    {{outlet}}
  </main>
</div>
